.question-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.check-answers {
    border: none;
    background: #4D5B9E;
    border-radius: 10px;
    color: #F5F7FB;
    font-family: inherit;
    width: 120px;
    height: 35px;
    font-size: 0.625rem;
    font-weight: 600;
    margin: 1em 0 0.5em 0;
    align-self: center;
}

.correct-answers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.correct-answers--text {
    font-size: 0.8rem;
    color: #293264;
}

@media screen and (min-width: 768px) { /* adjust this value as necessary */
    .correct-answers--text {
        font-size: 1rem;
    }

    .check-answers {
        font-size: 0.9rem;
        width: 130px;
        height: 40px;
    }
}