* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/blue-blob.png), url(./assets/yellow-blob.png);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom left, top right;
  background-size: 200px 200px, 200px 200px;
  padding: 1em 0;
}