.question-container {
    padding: 0 1em;
    max-width: 700px;
}

.question--choice-container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
}

.question--title {
    font-family: 'Karla';
    font-weight: 700;
    line-height: 19px;
    font-size: 1rem;
    color: #293264;
}

.question--answer-btn {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 0.65rem;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    background-color: transparent;
    color: #293264;
    padding: 0.25em 1.2em;
}

.question--answer-btn:hover {
    border: none;
    background: #D6DBF5;
}

hr {
    margin-top: 15px;
    border: 0.5px solid #DBDEF0;
}

@media screen and (min-width: 768px) { /* adjust this value as necessary */
    .question--choice-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* or however many columns you want */
        gap: 13px;
    }

    .question--title {
        font-size: 1.1rem;
    }

    .question--answer-btn {
        font-size: 0.75rem;
        padding: 0.5em 1.2em;
    }
}